html, body, #app{
    height : 100%;
    margin : 0px;
}

$gutter : 30px;

.layout{
    height : 100%;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    .menu{
        position: fixed;
        background: white !important;
        top: 0px;
        left: 0px;
        right : 0px;
        font-family: 'Oswald', serif;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        .menu-item{
            font-size: 2em;
            padding-left : 15px;
            letter-spacing: 0.3em;
            text-transform: uppercase;
            color : #bfbfbf;
        }
        .menu-item-selected{
            color : black;
            font-weight: bold;
        }
        .dimmed{
            color : #afafaf;
        }
    }
    .content{
        flex : 1;
        padding : 20px;
        padding-top : 130px;
        width: 100%;
        font-size : 1.3em;
        overflow: auto;
        display: flex;
        align-items: flex-start;
        justify-content: flex-start;
        max-width: 900px;
    }
}

.explore{
    flex-grow : 1;
}
.insights{
    padding : 15px;
    flex-grow : 1;
    border-left : 1px solid black;
}




// forms
input{
    padding : 5px;
    border : 3px solid #ababab;
    &:focus, &:hover{
        border : 3px solid black;
    }
}

button{
    border : 3px solid lighten(black, 25%);
    background: white;
    padding : 5px;
    cursor: pointer;
    &:focus, &:hover{
        border : 3px solid black;
    }
}

.explore{
    .text{
        font-family: 'Playfair Display', serif;
        .sentence{
            line-height: 50px;
            font-size: 30px;
            margin-bottom : 10px;
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            .word{
                margin-left : 5px;
                padding: 1px;
                cursor: pointer;
                transition: 0.3s ease-in-out all;
                &:hover{
                    color : #0A97FF;
                }
            }
            .word--selected{
                font-weight: bold;
                background: #0A97FF;
                color : white;
                &:hover{
                  color : white;  
                }
            }
        }
    }
}

