html, body, #app{
    height : 100%;
    margin : 0px;
    overflow: hidden;
}

$gutter : 30px;

.layout{
    height : 100%;
    flex-direction: column;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    border-bottom : 1px solid #dedede;
    .title{
        height: 100px;
        background: white !important;
        font-family: 'Oswald', serif;
        font-size: 2em;
        padding: 20px;
        letter-spacing: 0.3em;
        text-transform: uppercase;
        color : black;
        font-weight: bold;
        .dimmed{
            color : #afafaf;
        }
    }
    .content{
        flex : 1;
        padding : 20px;
        width: 100%;
        font-size : 1.3em;
        display: flex;
        align-items: stretch;
        justify-content: center;
        max-width: 900px;
        overflow: hidden;
        
    }
}

.module{
    flex : 1;
    overflow: auto;
    padding : 10px;
}

.insights{
    font-family: 'Oswald', serif;
    h3{
        margin-top : 5px;
    }
    .word-origin{
        font-weight: bold;
        text-transform: uppercase;
    }
}





// forms
input{
    padding : 5px;
    border : 3px solid #ababab;
    &:focus, &:hover{
        border : 3px solid black;
    }
}

button{
    border : 3px solid lighten(black, 25%);
    background: white;
    padding : 5px;
    cursor: pointer;
    &:focus, &:hover{
        border : 3px solid black;
    }
}

.explore{
    .text{
        font-family: 'Playfair Display', serif;
        .sentence{
            line-height: 50px;
            font-size: 30px;
            margin-bottom : 10px;
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            .word{
                margin-left : 5px;
                padding: 1px;
                cursor: pointer;
                transition: 0.3s ease-in-out all;
                &:hover{
                    color : #0A97FF;
                }
            }
            .word--selected{
                font-weight: bold;
                background: #0A97FF;
                color : white;
                &:hover{
                  color : white;  
                }
            }
        }
    }
}

